h1 {
	text-align: center;
}
.add_new_message {
	margin-bottom: 20px;
}
.add_new_message a {
	color: white;
	background-color: #6da3bd;
	padding: 10px;
}
.author {
	float: left;
	margin-right: 5px;
}
.message_block {
	margin-left: auto;
    margin-right: auto;
    width: 50em;
}
.message-answer {
	padding: 5px 10px 5px 15px;
	background-color: #FDF5E6;	
}
.answer-answer {
	padding: 5px 10px 5px 30px;
	background-color: #FDF5E6;	
}
.message_header{
	font-size: .9em;
	margin-bottom: 5px;
	color: grey;
}
.message_controls {
	margin-top: 10px;
	font-size: .9em;
}
.message{
	margin-top: 15px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}